<div id="sidebar">
  <div class="container-fluid">
    <h3>
      C++ Language
      <hr/>
    </h3>
    <h3>
      <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
      C++ Introduction
    </h3>
    <ul class="p-2">
      <li>C++ Variables</li>
      <li>C++ Data Types</li>
      <li>C++ Basic I/O</li>
      <li>C++ Operators</li>
      <li>C++ Comments</li>

    </ul>
    <h3>
      <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
      C++ Functions
    </h3>
    <ul class="p-2">
      <li>C++ Functions</li>
      <li>C++ Function Types</li>
      <li>C++ Function overloading</li>
      <li>C++ Default Argument</li>
      <li>C++ Recursion</li>

    </ul>
    <h3>
      <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
      C++ Arrays
    </h3>
    <ul class="p-2">
      <li>C++ Arrays</li>
      <li>Multidimensional Arrays</li>
      <li>C++ String</li>

    </ul>
  </div>
</div>
