<div class="row">
  <h3 class="text-center">
    C++ "Hello, World!" Program
  </h3>
  <div class="text-start font-monospace p-2 pt-3">
    In this example, we will learn to create a simple program named "Hello World" in C++ programming.

    A "Hello, World!" is a simple program that outputs Hello, World! on the screen. Since it's a very simple program,
    it's often used to introduce a new programming language to a newbie.
    Let's see how C++ "Hello, World!" program works.
    If you haven't already set up the environment to run C++ on your computer, visit Install C++ on Your Computer.
  </div>
  <div class="text-start font-monospace code">
    <pre><code>
      {{codeText}}
    </code></pre>
  </div>


  <h3 class="text-center">
    C++ Program to Add Two Numbers
  </h3>
  <div class="text-start font-monospace">
    In this program, user is asked to enter two integers. Then, the sum of those two integers is stored in a variable
    and displayed on the screen. Primary tabs
  </div>

  <div class="text-start font-monospace code ">
    <pre><code>
      {{codeText2}}
    </code></pre>
  </div>

  <div class="text-start font-monospace p-2 pt-3">
    Output of the program:
  </div>
  <div class="text-start font-monospace code ">
    <div>Enter two integers: 4</div>
    <div>5</div>
    <div>4 + 5 = 9</div>
  </div>
</div>
