<div class="row">
  <div class="col-4">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-7">
    <h3 class="text-center">
      C++ Variables
    </h3>
    <div class="text-start font-monospace p-2 pt-3">
      Variables are containers for storing data values.

      In C++, there are different types of variables (defined with different keywords), for example:int - stores
      integers (whole numbers), without decimals, such as 123 or -123double - stores floating point numbers, with
      decimals, such as 19.99 or -19.99char - stores single characters, such as 'a' or 'B'. Char values are surrounded
      by single quotesstring - stores text, such as "Hello World". String values are surrounded by double quotesbool -
      stores values with two states: true or false
    </div>

    <h3 class="text-center">
      Rules for naming a variable
    </h3>
    <div class="text-start font-monospace p-2 pt-3">
      A variable name can only have alphabets, numbers, and the underscore _.
      A variable name cannot begin with a number.
      It is a preferred practice to begin variable names with a lowercase character. For example, name is preferable to
      Name.
      A variable name cannot be a keyword. For example, int is a keyword that is used to denote integers.
      A variable name can start with an underscore. However, it's not considered a good practice.
    </div>
    <h3 class="text-center">
      C++ Data Types
    </h3>
    <table table class="table">
      <thead>
      <tr>
        <th scope="col">Date Type</th>
        <th scope="col">Meaning</th>
        <th scope="col">Size(in Bytes)</th>
      </tr>
      </thead>
      <tr>
        <td>int</td>
        <td>Integer</td>
        <td>2 or 4</td>
      </tr>
      <tr>
        <td>float</td>
        <td>Floating point</td>
        <td>4</td>
      </tr>
      <tr>
        <td>doube</td>
        <td>Double floating point</td>
        <td>8</td>
      </tr>
      <tr>
        <td>char</td>
        <td>Character</td>
        <td>1</td>
      </tr>
      <tr>
        <td>boo</td>
        <td>boolean</td>
        <td>1</td>
      </tr>
      <tr>
        <td>void</td>
        <td>empty</td>
        <td>0</td>
      </tr>
    </table>
  </div>
</div>
