<div id="navbar-id">
  <div class="container">
    <div class="row">
      <div class="col-2"><img src="assets/c%20++%20slika.png" class="rounded img-thumbnail" style="max-height: 160px">
      </div>
      <h1 class="col-7" id="headerId">
        <div class="row">Learn C++ Programming</div>
        <div class="row">
          <div class="col-3">
            <button type="button" class="btn btn-light" routerLink="/tutorials">TUTORIALS</button>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-light" routerLink="/examples">EXAMPLES</button>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-light">REFERENCES</button>
          </div>
          <div class="col-3" routerLink="/compiler">
            <button type="button" class="btn btn-light">COMPILER</button>
          </div>
        </div>
      </h1>

    </div>

    <div class="row font-monospace text-start p-2 pt-3">
      C++ is a powerful general-purpose programming language. It can be used to develop operating systems, browsers,
      games, and so on. C++ supports different ways of programming like procedural, object-oriented, functional, and so
      on. This makes C++ powerful as well as flexible.
    </div>

    <div class="row font-monospace p-2">
      Our C++ programming tutorial will guide you to learn C++ programming one step at a time.
    </div>
  </div>
</div>
