<div class="row">
  <div class="col-4">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-7 p-3 ml-5">
    <div class="mainbar pl-2 pt-2" routerLink="/tutorial-info">
      <h3>
        C++ Introduction
      </h3>
      <ul class="p-2">
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ Variables
        </li>
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ Data Types
        </li>
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ Basic I/O
        </li>
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ Operators
        </li>
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ Comments
        </li>
      </ul>
    </div>
    <div class="mainbar pl-2 pt-2">
      <h3>
        C++ Functions
      </h3>
      <ul class="p-2">
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ Functions
        </li>
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ Function Types
        </li>
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ Function overloading
        </li>
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ Default Argument
        </li>
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ Recursion
        </li>
      </ul>
    </div>
    <div class="mainbar pl-2 pt-2">
      <h3>
        C++ Arrays
      </h3>
      <ul class="p-2">
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ Arrays
        </li>
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          Multidimensional Arrays

        </li>
        <li>
          <img src="assets/iconmonstr-checkbox-checked-extended-thin.png" style="max-height: 30px;max-width: 30px">
          C++ String
        </li>

      </ul>
    </div>
  </div>

</div>

